
.main-top {
  height: 60px;
  /* background:linear-gradient(126deg, rgb(0, 33, 46) 38%,rgba(2, 53, 77, 1)  100%); */
  /* background:  linear-gradient(126deg, rgba(181, 181, 181, 0.367) 10%,rgb(165, 187, 196)  100%); */
  /* background: var(--theme-color-light); */
  /* border: 1px solid white; */
  position: relative;
  color: var(--text-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 30px;
  border-bottom: 1px solid var(--border-color);

}



.main-top h3 {
  margin: 0px;
}

.main-top .Top-icons{
  display: flex;
  gap: 10px;
  align-items: center;
}


