body {
  background: var(--ground);
  transition: 0.3s ease all;
}

.select-theme{
  background: var(--ground);
  position: absolute;
  width: 400px;
  height: 400px;
}




.dashboard-container {
  height: 100vh;
  /* position: relative; */
}


.overly-menu {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  /* background: linear-gradient(126deg, rgba(13, 0, 40, 0.362) 38%, rgba(255, 255, 255, 0) 100%); */
  
  backdrop-filter: blur(8px);
  /* -webkit-backdrop-filter: blur(6px); */
  z-index: 998;
  /* transition: 0.3s ease all; */
  border-radius: none;
  /* backdrop-filter: blur(7px); */
  background: linear-gradient(126deg, rgba(0, 0, 0, 0.364) 38%, rgba(0, 0, 0, 0.625) 100%);
}





.overly-card-box {
  display: flex;
  justify-content: center;
  align-items: center;
  /* align-items: center; */
  flex-wrap: wrap;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* hamesha 4 cards per row */
  gap: 22px;
  height: 100%;
  padding: 100px;
  overflow-y: scroll;
}

.overly-card {
  background: var(--theme-color-light);
  /* border: 1px solid #0000001f; */
  
  /* backdrop-filter: blur(10px); */
  width: 100%;
  height: 7rem;
  transition: 0.3s ease all;
  border-radius: 8px;
}

.overly-card:hover{
   background:var(--theme-color);
   
   transform: scale(1);
   
}












.sidebar {
  height: 100vh;
  transition: 0.5s ease all;
  width: 280px;
  padding: 0px;
  /* box-shadow: 6px 0px 17px -2px rgba(0, 0, 0, 0.77);
  -webkit-box-shadow: 6px 0px 17px -2px rgba(0, 0, 0, 0.366);
  -moz-box-shadow: 6px 0px 17px -2px rgba(0, 0, 0, 0.77); */
}

.sidebar-not-active {
  transition: 0.5s ease all;
  width: 4.8rem;
}





.hum {
  padding-right: 6px;
  display: flex;
  justify-content: flex-end;
  color: var(--text-color);
  margin-bottom: 10px;
  transition: 0.3s ease all;
}

.Hamburger{
  background:var(--theme-color-light) ; 
  border-radius: 50%;
  transition: 0.6s  ease color;
}
.Hamburger:hover{
  /* background:var(--theme-color-dark) ; */
}


.hamburger-react {
  border-radius: 100% !important;
  /* background-color: var(--secondary-color); */
}

.sub-icon {
  /* height: 120px; */
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0px;
  margin: 12px 0px;
}

.sub-icon-in {
  text-align: center;
  height: 47px;
  width: 47px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-color);
  font-size: 20px;
  background: var(--theme-color);
  border-radius: 100%;
  transition: 0.3s ease all;
  cursor: pointer;
  animation: rotateIcon 10s linear infinite;
}


@keyframes rotateIcon {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}


/* Sidebar h Ye------------------------------------------------------------------ */

.sidebar-in {
  background: var(--theme-color-light); 
  height: 100%;
  color: white;
  padding: 15px 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


/* Nav--------------------------------------------------------------------------- */




nav::-webkit-scrollbar-thumb {
  background: transparent;

  border-radius: 100px;
  /* box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3); */
}

.sidebar ul {
  list-style: none;
  text-decoration: none;
  padding: 0px;
  margin: 0px;
  /* justify-content: center; */
  /* display: flex; */
  /* flex-direction: column; */
  /* align-items: center; */

}

.sidebar Li {
  width: 100%;
  transition: 0.5s ease;
}

.sidebar .li-a {
  /* color: white; */
  text-decoration: none;
  /* align-items: center;
  display: flex; */
  /* border-radius: 100%; */
  border-radius: 8px 200px 200px 200px;
  width: 55px;

}
.nav-menu{
  padding: 0px;
  overflow-y: scroll;
}

.sidebar li .Li-always {
  position: relative;
  transition: 0.9s ease;
  color: var(--text-color);
  text-decoration: none;
  display: flex;
  align-items: center;
  height: 55px;
  margin: 4px 0;  
  text-align: center;
  /* border-radius: 100%; */
  background: var(--theme-color-light);
  transform: scale(0.9);
  font-size: 14px;
  overflow: hidden;
}

.sidebar li .Li-always-sub {
  position: relative;
  transition: 0.9s ease;
  color: var(--text-color);
  text-decoration: none;
  display: flex;
  align-items: center;
  margin: 0px 0;
  height: 45px;
  text-align: center;
 border-radius: 8px 200px 200px 200px;
  background: var(--theme-color-light);
  transform: scale(0.8);
  border-left: 2px solid transparent;
  font-size: 15px;
  overflow: hidden;
}

.sidebar li .Li-always-sub:hover{
  border-left: 2px solid var(--text-color);
}


.Li-b {
  width: 100%;
  border-radius: 8px 200px 200px 200px;
  
}


.sidebar li .Li-always::before,
.sidebar li .Li-always::after {
  content: "";
  position: absolute;
  inset: 0;
  /* top:0; right:0; bottom:0; left:0; */
  border-radius: 8px 200px 200px 200px;
  transition: 0.5s;
  z-index: -1;

}

/* 👇 Before gives glowing effect */
.sidebar li .Li-always::before {
  background: var(--theme-color);

  opacity: 0;
  transform: scale(0.7);
}

/* 👇 After gives dim background overlay */
.sidebar li .Li-always::after {
  /*  */
  background-color: rgba(0, 12, 22, 0.14);
  /* background-color: rgb(0, 0, 0); */
  opacity: 0;
}

.sidebar li .Li-always.active-li::before {
  opacity: 1;
  transform: scale(1);
  box-shadow: 0px 0px 12px 6px rgba(0, 167, 255, 0.18);
}

.sidebar li .Li-always.active-li::after {
  opacity: 1;
  transform: scale(1);
}


/* 👇 On hover: animate both */
.sidebar li .Li-always:hover::before {
  opacity: 1;
  transform: scale(1);
  box-shadow: 0px 0px 12px 6px rgba(0, 167, 255, 0.18);
}

.sidebar li .Li-always:hover::after {
  opacity: 1;
  transform: scale(1);
}



.sidebar Li .Li-always .icon {
  /* position: absolute; */
  left: 0px;
  margin: 0;
  padding: 18px;
  /* width: 5.5rem; */
  /* font-size: 1px; */
  /* padding: 0; */
  display: inline-flex;
}



.sidebar li .Li-always span {
  /* position: absolute; */
  left: 35px;
  opacity: 1;
  transition: 0.9s ease all;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-right: 12px;

}



/*  */
.sidebar li .Li-always .span {
  left: -100%;
  opacity: 0;
  transform: scale(0.9);

}


















.main-content {
  flex: 1;
  overflow-y: hidden !important;
  /* position: relative; */
}


.main2 {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0px 0%;
}

.main3 {
  height: 100vh;
  overflow-y: scroll;
  padding: 22px 50px;
  justify-content: center;
  display: flex;
  position: relative;
}

.content-dash{
  width:1200px
}
.main-end {
  width: 100%;
  /* background-color: var(--text-color); */
  /* padding: 0px 2%; */
  bottom: 0;
}

.main-end-inner {
  padding: 7px 0px;
  /* height: 30px; */
  border-top: 1px solid rgba(128, 128, 128, 0.57);
  /* margin: 10px; */
  text-align: center;
  font-size: 12px;
  margin-top: 50px;
}


/*  -----------------*/
.main-top2 {
  width: 100%;
  /* background: var(--theme-color-light); */
  /* padding: 10px 30px; */
  margin-bottom: 30px;
  border-radius: 20px;
  bottom: 0;
  /* background: var(--theme-color-light); */
}

.main-top2-inner {
  padding: 15px 0px;
  /* height: 30px; */
  /* border-bottom: 1px solid rgba(128, 128, 128, 0.57); */
  /* margin: 10px; */
  text-align: start;
  align-items: center;
  font-size: 14px;
  /* margin-bottom: 20px; */
  display: flex;
  color: var(--text-color);
  /* border-bottom: 1px solid var(--border-color); */
  

}


.main-top2-inner h5{
  margin-bottom: 1px;
  /* font-weight: 500; */
  letter-spacing: 0.5px;
}

.main-top2-inner p{
  margin: 0px;
  color: var(--secondary-color);
  font-size: 15px;
  letter-spacing: 0.5px;
  word-spacing: 10px;
  
}

.icon-links{
  color: var(--text-color);
}

.icon-links {
    background: var(--theme-color);
    width: 45px;
    height: 45px;
    /* border-radius: 100%; */
    border-radius: 8px 200px 200px 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.des-links{
  padding-left: 18px;
}

::-webkit-scrollbar {
  width: 4px;
  height: 8px;
  transition: 0.5s ease all;
}

::-webkit-scrollbar:hover ::-webkit-scrollbar-thumb {
  /* width: 5px;
  height: 8px; */
  background: var(--theme-color);
}

.sidebar-in:hover ::-webkit-scrollbar-thumb {
  background: var(--theme-color);

}

/* ===== Scrollbar Track ===== */
::-webkit-scrollbar-track {
  background: transparent;
}

/* ===== Scrollbar Thumb ===== */
::-webkit-scrollbar-thumb {
  background: black;

  border-radius: 100px;
  /* box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3); */
}

/* ===== Hover Effect ===== */
::-webkit-scrollbar-thumb:hover {
  background: black;
  width: 8px;
}